
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #282c34;
}
.App {
  text-align: center;
}

.App-logo {
  height: 25vh;
  pointer-events: none;
  padding-top: 40px;
}

.App-header,
main {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  padding-bottom: 60px;
}
#currency td {
  border: 2px solid;
  text-align: left;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}
table.weekly {
  margin-top: 20px;
}
table.weekly caption {
  font-size: 34px;
  font-weight: 700;
  padding-bottom: 10px;
}
table.weekly td, table.weekly th {
  border: 2px solid;
  padding: 7px;
}